<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inside building</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styleTemplate.css}"/>
</head>
<body>
<h3>Сейчас в здании: </h3>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Номер телефона</th>
            <th>Доступ в здание</th>
            <th>Внутри здания</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.surname}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.telephoneNumber}">...</td>
            <div th:if="${user.access}">
                <div> <td th:utext="Есть">...</td></div>
            </div>
            <div th:unless="${user.access}">
                <div><td th:utext="Нет">...</td></div>
            </div>
            <div th:if="${user.inside}">
                <div> <td th:utext="Да">...</td></div>
            </div>
            <div th:unless="${user.inside}">
                <div><td th:utext="Нет">...</td></div>
            </div>
        </tr>
    </table>
</div>
<br/><br/>
<a href="index.html">Вернуться назад</a>
</body>
</html>